* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    border: collapse;
}

html{
    background-image:linear-gradient(to left,rgba(132, 132, 132, 0.9),rgba(0, 0, 0, 1)),
                    url(https://www.solarmg.com.br/assets/images/background6.jpg);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-image: linear-gradient(to left,rgb(26, 25, 25,0.8),rgb(255, 146, 164,0.5));
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    box-shadow: 30px;
    height: 150px;
}

#inputs_date {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 3%;
    padding: 1%;
}

#inputs_date > input {
    padding: 10px;
    width: 20%;
    border-radius: 6px;
    transition: 1s;
}

#input_bottuns {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: -2%;    
}

#input_bottuns > button {
    background-image: linear-gradient(to left,rgb(201, 105, 121),rgb(160, 13, 160),rgb(255, 73, 104),rgb(67, 2, 67));
    background-size:500%;
    transition: 1s ease-in-out;
    color: white;
    font-weight: 600;
    padding: 10px;
    margin-bottom: -10px;
    border-radius: 20px;
    width: 20%;
}

select {
    padding: 5px;
    border-radius: 5px;
    margin-top: -20px ;
    transition: 1s;
}

#input_bottuns > input {
    height: 25px;
    transition:1 ease-in-out;
}

#inputs_date > input:hover {
    background-color: rgb(211, 254, 254);
}

select:hover {
    background-color: rgb(252, 252, 204);
}


#input_bottuns > button:hover {
    background-position: right;
}
table{
    margin: auto;
    margin-bottom: 30px;
}

thead,th,td,tr {
    border: collapse;
    border: 6px solid rgb(140, 16, 129);
    padding: 20px;
}
thead,th {
    border: 3px solid rgb(171, 171, 171);
    background-color: rgb(72, 146, 121);
}

td,tr {
    border: 3px solid rgb(171, 171, 171);
    background-color: rgb(123, 159, 137);
    transition: 1s;
}

td:hover {
    background-color: rgb(255, 241, 223);
    color: black;
}



